.featuredProduct {
  background-color: #fff;
  border-radius: var(--card-border-radius);
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.32);
  padding: 1.2rem 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 12rem;
  height: 100%;
}

@media (min-width: 960px) {
  .featuredProduct {
    min-height: 18rem;
  }
}
