.featuredProduct {
  background-color: #fff;
  border-radius: var(--card-border-radius);
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.32);
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.featuredProduct .overlay {
  --gradient-first-color: rgba(255, 255, 255, 1);
  --gradient-second-color: rgba(255, 255, 255, .65);
  --gradient-third-color: rgba(255, 255, 255, 0);
  background: var(--gradient-first-color);
  background: -moz-linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 65%, var(--gradient-third-color) 100%);
  background: -webkit-linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 65%, var(--gradient-third-color) 100%);
  background: linear-gradient(90deg, var(--gradient-first-color) 0%, var(--gradient-second-color) 65%, var(--gradient-third-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  height: 100%;
  border-radius: var(--card-border-radius);
  padding: 1.6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featuredProduct .content {
  flex: 1;
  height: 100%;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.featuredProduct .content h6 {
  font-size: var(--h4);
  margin-bottom: 0.8rem;
}

.featuredProduct .content .brand {
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.featuredProduct .content .price {
  font-size: 1.6rem;
}

.featuredProduct .content button {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  background: none;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.36);
  border-radius: 6px;
}

.featuredProduct .content button svg {
  margin-right: .6rem;
}


@media (min-width: 960px) {
  .featuredProduct {
    min-height: 18rem;
  }
}
