.featured {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
}

.featured .productTitle {
  margin-bottom: .4rem;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.featured .brandsTitle {
  margin-top: 1.2rem;
  margin-bottom: .4rem;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.featured .featuredProduct {

  grid-column: 1 / span 2;
  grid-row: 2;
}

@media (min-width: 768px) {
  .featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .featured .productTitle {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .featured .brandsTitle {
    margin-top: 0;
    grid-column: 3 / span 2;
    grid-row: 1;
  }

  .featured .featuredProduct {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
}

@media (min-width: 960px) {
  .featured {
    grid-gap: 1.2rem;
  }
}
