.searchBar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 4px -2px rgba(75, 123, 236, 0.32);
  box-shadow: 0 4px 4px -2px rgba(75, 123, 236, 0.32);
}

.searchBar input {
  padding: .4rem .8rem;
  background-color: #fff;
  border: none;
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 100%;
}

.searchBar button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 6px 6px 0;
  height: 100%;
  width: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar button svg path {
  fill: var(--on-primary-color) !important;
}

@media (min-width: 768px) {
  .searchBar {
    height: 44px;
    margin: 0 5.6rem;
  }

  .searchBar input {
    padding: .8rem 1.6rem;
  }
}
