.singleBrand {
  background-color: #fff;
  border-radius: var(--card-border-radius);
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.32);
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 3.6rem;
  height: 100%;
}

.singleBrand .overlay {
  background-color: rgba(0, 0, 0, 0.24);
  height: 100%;
  border-radius: var(--card-border-radius);
}

.singleBrand .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
}

.singleBrand .content p {
  font-size: var(--h5);
  letter-spacing: .05rem;
}

@media (min-width: 960px) {
  .singleBrand {
    min-height: 6.4rem;
  }
}
