.toolbar {
  --toolbar-height: 4rem;
  background-color: var(--toolbar-background-color);
  height: var(--toolbar-height);
  -webkit-box-shadow: 0 4px 4px -2px rgba(75, 123, 236, 0.32);
  box-shadow: 0 4px 4px -2px rgba(75, 123, 236, 0.32);
}

.toolbarElements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--toolbar-height);
  padding: .6rem 0;
}

.toolbarTitle {
  color: var(--on-toolbar-color);
  font-weight: 600;
  font-size: 1.2rem;
}
